* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  overflow-x: hidden;
}

.page {
  transition: opacity .25s ease-in-out;
}


/*NAVIGATION*/
.hamburgerIcon {
  margin: 15px;
  padding: auto;
  background-color: rgb(180,180,180, .3);
  transform: scale(1.5,1);
  overflow: hidden;
  position: fixed;
  top: 0;
  font-size:30px;
  cursor:pointer;
  z-index: 3;
}

    .hamburgerIcon:hover {
      transition: 'opacity 5s';
      opacity: .6;
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        text-align: center;
        font-size: 25px;
        color: #818181;
        display: block;
        cursor: pointer;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }



/*MAIN SECTIONS*/
.home {
	height: 100vh;
	background-image: url("images/metro.jpg");
}

    .home h1 {
    	font-family: 'IBM Plex Sans', sans-serif;
      font-family: 'Vollkorn', sans-serif;
    	font-size: 3.5em;
    	font-weight: 700;
      opacity: .80;
    	position: relative;
      top: 42%;
      left: 38%;
      transform: translate(-50%, -50%);
    	text-align: center;
    }

    .home h2 {
    	font-family: 'Raleway', sans-serif;
      font-family: 'Vollkorn', sans-serif;
    	opacity: .7;
      font-weight: 600;
    	position: relative;
      top: 48%;
      left: 46%;
      transform: translate(-50%, -50%);
    	text-align: center;
    }
    
    /*V down icon*/
    .home p {
      font-family: 'Ubuntu', sans-serif;
      cursor: pointer;
      opacity: .7;
      color: white;
      font-weight: 600;
      position: relative;
      font-size: 1.8em;
      top: 78%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2, 1);
      text-align: center;
      -webkit-animation-name: downV; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 5;
      animation-name: downV;
      animation-duration: 6s;
      animation-iteration-count: 5;
    }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes downV {
            0%  {top: 78%;}
            17% {top: 78%;}           
            24% {top: 78.7%;}           
            29.5% {top: 78%;}
            29.6% {top: 78%;}           
            34.5% {top: 78.7%;}           
            40% {top: 78%;}           
            100% {top: 78%;}
        }

        /* Standard syntax */
        @keyframes downV {  
            0%  {top: 78%;}
            17% {top: 78%;}           
            24% {top: 78.7%;}           
            29.5% {top: 78%;}
            29.6% {top: 78%;}            
            34.5% {top: 78.7%;}
            40% {top: 78%;}            
            100% {top: 78%;}
        }

.about {
  /*border: 2px solid red;*/
  position: relative;
  z-index: 2;
  width: 100%;
  height: 70vh;
}

    .aboutMe {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 60%;
      overflow: inherit;
      height: 100%;
      /*border: 2px solid red;*/
    }

        .aboutHead h1 {
          width: 40%;
          font-family: 'Abril Fatface', cursive;
          font-family: 'Noto Sans', sans-serif;
          letter-spacing: .15em;
          opacity: .87;
          position: relative;
          z-index: 2;
          font-size: 3em;
          text-shadow: 1px 1px #d3d3d3;
          text-align: center;
          margin-left: 10%;
          margin-top: 5%;
          /*border: 2px solid red;*/
        }

        .aboutContent {
          /*border: 2px solid red;*/
          height: 70%;
        }

        .aboutMe p {
          margin-top: 3%;
          margin-left: 5%;
          font-family: 'Noto Sans', sans-serif;
          font-weight: 600;
          letter-spacing: .15em;
          z-index: 2;
          text-shadow: .5px .5px #d3d3d3;
          width: 85%;
          /*border: 2px solid red;*/
        }

        .aboutMe p:nth-of-type(1) {
          margin-top: 8%;
        }

        .aboutMe a {
          cursor: pointer;
          background-color: rgb(30,30,30, .35);
          text-shadow: none;
          padding: 0px 2px;
          border-radius: 6px;
          text-decoration: underline;
          text-underline-position: under;
        }

    .aboutImg {  
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 37%;
      height: 100%;
      float: right;
      /*border: 2px solid red;*/
    }

        .aboutImg img {
          margin-left: 25%;
          margin-top: 25%;
          position: relative;
          z-index: 2;
          border-radius: 5px;
          border: 2px ridge gray;
          width: 50%;
          height: 50%;
          box-shadow: 5px 5px rgb(50,50,50, .7);
        }

.skills {
	height: 100vh;
	background: url('../images/skillsbackground.png');
  background-size: 100vw 101vh;
}

.projects {
	height: 220vh;
	background-color: rgb(0,190,255);
  font-family: Varela Round, sans-serif;
}

    .projects h1 {
      font-size: 4em;
      text-align: center;
      margin: auto;
      position: relative;
      top: 10%;
      color: white;
      text-decoration: underline;
      text-underline-position: under;
    }

    .projectGrid {
      font-family: Varela Round, sans-serif;
      color: white;
      width: 70%;
      height: 170vh; 
      position: relative;
      margin: auto;
      top: 15%;
      display: grid;
      grid-row-gap: 2%;
      grid-column-gap: 4%;
      grid-template-areas: 
                          'p1name p2name'
                          'p1        p2'
                          'p1desc p2desc'
                          'p3name p4name'
                          'p3        p4'
                          'p3desc p4desc';
      grid-template-rows: .5fr 6fr 6fr .5fr 6fr 6fr;
      grid-template-columns: 1fr 1fr;
    }

        .projectGrid a {
              color: inherit;
              cursor: pointer;
            }


        /*this is similar to p1name to p4name*/
        .pname {
          position: relative;
          font-weight: 600;
          text-align: center;
          padding: 2px;
          font-size: 2em;
          text-decoration: underline;
          text-underline-position: under;
        }

            /*what is special to p1name to p4name*/
            .p1name {
              grid-area: p1name;
            }

            .p2name {
              grid-area: p2name;
            }

            .p3name {
              grid-area: p3name;
            }

            .p4name {
              grid-area: p4name;
            }

        /*this is similar to p1 to p4*/
        .p {
          cursor: pointer;
          position: relative;
          background-repeat: no-repeat;
          background-size: cover;
        }

            /*what is special to p1 to p4*/

            .p1 {
              grid-area: p1;
              background-image: url("../images/ajonesHome.png");
            }

            .p2 {
              grid-area: p2;
              background-image: url("../images/iaHome.png");
            }

            .p3 {
              grid-area: p3;
              background-image: url("../images/funcGameHome.png");
            }

            .p4 {
              grid-area: p4;
              background-image: url("../images/portHome.png");
            }

        /*this is similar to all descriptions*/
        .pdesc {
            border-radius: 10px;
            background-color: rgb(0,0,0, .4);
            padding: 10px 10px;
            width: 90%;
            margin: auto;
            margin-top: 5%;
        }

        
            /*this is special to each description*/
            .p1desc {
              position: relative;
              grid-area: p1desc;
            }

            .p2desc {
              position: relative;
              grid-area: p2desc;
            }

            .p3desc {
              position: relative;
              grid-area: p3desc;
            }

            .p4desc {
              position: relative;
              grid-area: p4desc;
            }

          .centered {
              display: inline;
              text-align: center;
          }


.contact {
	height: 35vh;
	background-color: white;
  font-family: 'PT sans', sans-serif;
  border-top: 2px solid black;
}

    .contactBox {
      margin: auto;
      padding: 0;
      text-align: center;
      margin-top: 10vh;
    }

        .contactDirect p {
          /*border: 2px solid red;*/
          display: inline-block;
          padding: 0;
          margin: 15px;
          position: relative;
          /*right: 30px;*/
         }

        .contactDirect img {
          /*border: 2px solid red;*/
          height: 20px;
          width: 20px;
          position: relative;
          top: 5px;
          right: 5px;
          display: inline-block;
        }

        .contactDirect a {
          display: inline-block;
          /*border: 2px solid red;*/
          color: inherit;
          text-decoration: none;
        }

        .contactContent img {
          display: inline-block;
          margin: 5px;
          height: 40px;
          width: 40px;
        }



@media only screen and (max-width: 600px) {
    .wrapper {
      max-width: 100vh;  
      overflow-x: hidden;
      display: grid;
      grid-template-areas: 
                          'home'
                          'about'
                          'skills'
                          'projects'
                          'contact';
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1.6fr 1fr 3.7fr .5fr;
    }

        /*HOME*/

        .home {
          grid-area: home;
        }

        .home h1 {
          opacity: .75;
          font-size: 2.5em;
          position: relative;
          top: 30%;
          left: 50%;
        }

        .home h2 {
          font-size: 1.5em;
          position: relative;
          top: 35%;
          left: 65%;
        }
        
        /*V down icon*/
        .home p {
          opacity: .6;
          position: relative;
          font-size: 1.8em;
          top: 90%;
          left: 0;
          transform: scale(2, 1);
        }

    /*ABOUT*/


/*/////////////////*/

    .about {
      position: relative;
      z-index: 2;
      width: 100%;
      /*height: 100vh;*/
      grid-area: about;
      display: grid;
      grid-template-areas: 
                          'head'
                          'image'
                          'contento';
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr 6fr;
      /*border: 2px solid red;*/
      margin-top: 0;
    }


        .aboutHead {
          grid-area: head;
          font-size: .8em;
          width: 40%;
          margin-left: 30%;
          padding-top: 5%;
        }

        .aboutMe {
          position: relative;
          bottom: 2%;
          z-index: 2;
          display: inline-block;
          width: 100%;
          overflow: inherit;
          grid-area: contento;
        }

                .mAboutMeMe {
                  position: relative;
                  left:70%;
                }
          

            .aboutImg {  
              grid-area: image;
              position: relative;
              bottom: 8%;
              z-index: 2;
              display: inline-block;
              width: 100%;
              height: auto;
              padding-top: 0;
            }

                .aboutImg img {
                  position: relative;
                  z-index: 2;
                  max-width: 100%;
                  border-radius: 0;
                  border: 2px inset gray;
                  box-shadow: none;
                  height: auto;
                }

            .aboutMe p {
              position: relative;
              margin-top: 10%;
              text-align: center;
            }

      
    .skills {
      height: auto;
      max-width: 100%;
      background: url('../images/skillsbackgroundMob.png');
      background-size: cover;
      grid-area: skills;
    }

    .projects {
      height: 100%;
      width: 100vw;
      grid-area: projects;
      /*border: 2px solid red;*/
    }


    .projects h1 {
      font-size: 3em;
      text-align: center;
      margin: auto;
      position: relative;
      top: 3%;
      color: white;
      text-decoration: underline;
      text-underline-position: under;
    }

    .projectGrid {
      width: 90%;
      position: relative;
      top: 5%;
      display: grid;
      grid-row-gap: 2%;
      grid-template-areas: 
                          'p1name'
                          'p1'    
                          'p1desc'
                          '  .   '
                          'p2name'
                          'p2'    
                          'p2desc'
                          '  .   '
                          'p3name'
                          'p3'    
                          'p3desc'
                          '  .   '
                          'p4name'
                          'p4'    
                          'p4desc';
      grid-template-rows: .5fr 6fr 4fr .5fr .5fr 6fr 4fr .5fr .5fr 6fr 4fr .5fr .5fr 6fr 4fr;
      grid-template-columns: 1fr;
    }

        /*this is similar to p1name to p4name*/
        .pname {
          width: 100%;
          font-weight: 600;
          text-align: center;
          /*padding: 2px;*/
          /*font-size: 1.7em;*/
          text-decoration: underline;
          /*border: 2px solid red;*/
          /*text-underline-position: under;*/
        }

            /*what is special to p1name to p4name*/
            .p1name {
              grid-area: p1name;
            }

            .p2name {
              grid-area: p2name;
            }

            .p3name {
              grid-area: p3name;
            }

            .p4name {
              grid-area: p4name;
            }

        /*this is similar to p1 to p4*/
        .p {
          height: 27vh;
          width: 100%;
          padding-bottom: 0;
          cursor: pointer;
          background-repeat: no-repeat;
          background-size: contain;
          /*border: 2px solid red;*/
        }

            /*what is special to p1 to p4*/

            .p1 {
              grid-area: p1;
              background-image: url("../images/ajonesHome.png");
            }

            .p2 {
              grid-area: p2;
              background-image: url("../images/iaHome.png");
            }

            .p3 {
              grid-area: p3;
              background-image: url("../images/funcGameHome.png");
            }

            .p4 {
              grid-area: p4;
              background-image: url("../images/portHome.png");
            }

        /*this is similar to all descriptions*/
        .pdesc {
            /*border-radius: 5px;*/
            position: relative;
            background-color: rgb(0,0,0, .4);
            padding: 0px 0px;
            width: 100%;
            /*top: 15%;*/
            /*margin: auto;*/
            margin: 5% 0 0 0;
            padding: 10px;
            
            /*border: 2px solid red;*/
        }

          .centered {
              /*font-size: .8em;*/
              /*word-wrap: break-word;*/
              text-align: center;
              display: inline-block;
          }
        
            /*this is special to each description*/
            .p1desc {
              position: relative;
              grid-area: p1desc;
            }

            .p2desc {
              position: relative;
              grid-area: p2desc;
            }

            .p3desc {
              position: relative;
              grid-area: p3desc;
            }

            .p4desc {
              position: relative;
              grid-area: p4desc;
            }

      .contact {
        grid-area: contact;
      }
    
}