* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  overflow-x: hidden;
}

/*main sections*/
.home {
	height: 100vh;
	background-image: url("images/metro.jpg");
}

    .home h1 {
    	font-family: 'IBM Plex Sans', sans-serif;
      font-family: 'Vollkorn', sans-serif;
    	font-size: 3.5em;
    	font-weight: 700;
      opacity: .80;
    	position: relative;
      top: 51%;
      left: 44%;
      transform: translate(-50%, -50%);
    	text-align: center;
    }

    .home h2 {
    	font-family: 'Raleway', sans-serif;
      font-family: 'Vollkorn', sans-serif;
    	opacity: .7;
      font-weight: 600;
    	position: relative;
      top: 54%;
      left: 51%;
      transform: translate(-50%, -50%);
    	text-align: center;
    }
    
    /*V down icon*/
    .home p {
      font-family: 'Ubuntu', sans-serif;
      cursor: pointer;
      opacity: .7;
      color: white;
      font-weight: 600;
      position: relative;
      font-size: 1.8em;
      top: 78%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2, 1);
      text-align: center;
      -webkit-animation-name: downV; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 5;
      animation-name: downV;
      animation-duration: 6s;
      animation-iteration-count: 5;
    }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes downV {
            0%  {top: 78%;}
            17% {top: 78%;}           
            24% {top: 78.7%;}           
            29.5% {top: 78%;}
            29.6% {top: 78%;}           
            34.5% {top: 78.7%;}           
            40% {top: 78%;}           
            100% {top: 78%;}
        }

        /* Standard syntax */
        @keyframes downV {  
            0%  {top: 78%;}
            17% {top: 78%;}           
            24% {top: 78.7%;}           
            29.5% {top: 78%;}
            29.6% {top: 78%;}            
            34.5% {top: 78.7%;}
            40% {top: 78%;}            
            100% {top: 78%;}
        }

.about {
  position: relative;
  z-index: 2;
  width: 100%;
  max-height: 70vh;
}

    .about .aboutMe {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 62%;
      max-height: 70vh;
      overflow: inherit;
    }

        .aboutMe h1 {
          width: 400px;
          font-family: 'Abril Fatface', cursive;
          font-family: 'Noto Sans', sans-serif;
          letter-spacing: .15em;
          opacity: .87;
          position: relative;
          z-index: 2;
          font-size: 3em;
          text-shadow: 1px 1px #d3d3d3;
          transform: translate(85%, 100%);
        }

        .aboutMe p {
          font-family: 'Noto Sans', sans-serif;
          font-weight: 600;
          letter-spacing: .15em;
          z-index: 2;
          text-shadow: .5px .5px #d3d3d3;
          width: 85%;
        }

        .aboutMe p:nth-of-type(1) {
          transform: translate(10%,150%);
        }

        .aboutMe p:nth-of-type(2) {
          transform: translate(10%,110%);
        }

        .aboutMe p:nth-of-type(3) {
          transform: translate(10%,440%);
        }

        .aboutMe a {
          cursor: pointer;
          background-color: rgb(30,30,30, .35);
          text-shadow: none;
          padding: 0px 2px;
          border-radius: 6px;
          text-decoration: underline;
          text-underline-position: under;
        }

    .about .aboutImg {  
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 37%;
      height: 70vh;
    }

        .aboutImg img {
          position: relative;
          z-index: 2;
          border-radius: 5px;
          border: 2px solid black;
          width: 50%;
          height: 50%;
          box-shadow: 5px 5px rgb(50,50,50, .7);
          transform: translate(45%,55%);
        }

.skills {
	height: 100vh;
	background: url('../images/skillsbackground.png');
  background-size: 100vw 101vh;
}

.projects {
	height: 180vh;
	background-color: rgb(0,190,255);
  font-family: Varela Round, sans-serif;
}

    .projects h1 {
      font-size: 4em;
      text-align: center;
      margin: auto;
      position: relative;
      top: 10%;
      color: white;
      text-decoration: underline;
      text-underline-position: under;
    }

    .projectGrid {
      width: 70%;
      height: 130vh; 
      position: relative;
      margin: auto;
      top: 15%;
      display: grid;
      grid-row-gap: 2%;
      grid-column-gap: 4%;
      grid-template-areas: 
                          'p1name p2name'
                          'p1        p2'
                          'p1desc p2desc'
                          ' .         .  '
                          'p3name p4name'
                          'p3        p4'
                          'p3desc p4desc';
      grid-template-rows: .5fr 4fr 2fr .5fr .5fr 4fr 2fr;
      grid-template-columns: 1fr 1fr;
    }

        .p1name {
          position: relative;
          grid-area: p1name;
          font-family: Varela Round, sans-serif;
          color: white;
          font-weight: 600;
          text-align: center;
          padding: 2px;
          font-size: 2em;
          text-decoration: underline;
          text-underline-position: under;
        }

        .p2name {
          position: relative;
          grid-area: p2name;
          font-family: Varela Round, sans-serif;
          color: white;
          font-weight: 600;
          text-align: center;
          padding: 2px;
          font-size: 2em;
          text-decoration: underline;
          text-underline-position: under;
        }

        .p3name {
          position: relative;
          grid-area: p3name;
          font-family: Varela Round, sans-serif;
          color: white;
          font-weight: 600;
          text-align: center;
          padding: 2px;
          font-size: 2em;
          text-decoration: underline;
          text-underline-position: under;
        }

        .p4name {
          position: relative;
          grid-area: p4name;
          font-family: Varela Round, sans-serif;
          color: white;
          font-weight: 600;
          text-align: center;
          padding: 2px;
          font-size: 2em;
          text-decoration: underline;
          text-underline-position: under;
        }

        .p1 {
          border-radius: 5px;
          position: relative;
          grid-area: p1;
          background-image: url("../images/ajonesHome.png");
          background-repeat: no-repeat;
          background-size: cover;
        }

        .p2 {
          border-radius: 5px;
          position: relative;
          grid-area: p2;
          background-image: url("../images/iaHome.png");
          background-repeat: no-repeat;
          background-size: cover;
        }

        .p3 {
          border-radius: 5px;
          position: relative;
          grid-area: p3;
          background-image: url("../images/funcGameHome.png");
          background-repeat: no-repeat;
          background-size: cover;
        }

        .p4 {
          border-radius: 5px;
          position: relative;
          grid-area: p4;
          background-image: url("../images/portHome.png");
          background-repeat: no-repeat;
          background-size: cover;
        }

        .p1desc {
          position: relative;
          grid-area: p1desc;
        }

        .p2desc {
          position: relative;
          grid-area: p2desc;
        }

        .p3desc {
          position: relative;
          grid-area: p3desc;
        }

        .p4desc {
          position: relative;
          grid-area: p4desc;
        }

 

.contact {
	height: 50vh;
	background-color: white;
}


/*navigation*/
.hamburgerIcon {
  margin: 15px;
  padding: auto;
  background-color: rgb(180,180,180, .3);
  transform: scale(1.5,1);
  overflow: hidden;
  position: fixed;
  top: 0;
  font-size:30px;
  cursor:pointer;
  z-index: 3;
}

    .hamburgerIcon:hover {
      transition: 'opacity 5s';
      opacity: .6;
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        text-align: center;
        font-size: 25px;
        color: #818181;
        display: block;
        cursor: pointer;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }


